<div [style.background]="backgroundCSS" class="project-background">
    </div>
    
    <pivot class="project-feature">
        <div class="project-content">
            <h1>Muskoka</h1>
            <p>Website for the most technologically advanced cabinet company in North America.</p>
            <h2>Features</h2>
            <ul>
                <li>Website assets managed through Daemon CMS</li>
                <li>User Accounts</li>
                <li>Browse Door Samples filtered by style, species and colour</li>
                <li>Preview kitchens through gallery photos</li>
            </ul>
            <h2 class="tech-used">Technologies Used</h2>
            <ul>
                <li>Angular</li>
                <li>Golang</li>
                <li>Postgres</li>
                <li>AWS</li>
                <li>HTML5 + CSS3</li>
            </ul>
        </div>
        <div class="project-preview">
            <a target="_blank" href="https://www.muskokacabco.com">
                <div cursor class="project-img-wrapper">
                    <img src="{{muskokaImg}}">
                </div>
            </a>
            <a target="_blank" href="https://www.muskokacabco.com">
                <button class="daemon-button" cursor>
                    VISIT
                </button>
            </a>
        </div>
    </pivot>