<pivot class="service-feature">
  <div class="content">
    <h1 class="about-header">
        DON'T WORK HARD,
        WORK SMART
    </h1>
    <p class="about-description">I believe in a different way of doing business. Cooperation over collaboration so that everybody achieves their goals and nobody is left behind. 
        
        This means not having a bloated and expensive development team but a team of specialists who love what they do and take pride in their work.
    
        This is my vision for a sustainable business.</p>
   
    <button class="daemon-button" cursor [routerLink]="['/contact']">
      CONTACT
    </button>
  </div>
  <div class="about-img-wrapper">
      <img src="{{aboutImg}}">
  </div>
</pivot>
