<pivot class="service-feature">
  <div class="content">
    <div class="header-text">
      <h1>Any Questions?</h1>
      <h2>I'm here to help</h2>
    </div>
    <div class="info">
      <div class="info-entry">
        <h3>E</h3>
        <span>josh.elias.dev@gmail.com</span>
      </div>
      <div class="info-entry">
        <h3>P</h3>
        <span>+1 (613) 808 4164</span>
      </div>
      <div class="info-entry">
        <h3>A</h3>
        <p>96 Ashpark Cres Ottawa ON Canada K1T 3N7
        </p>
      </div>
    </div>
  </div>
  <div class="service-img-wrapper">
    <img src="{{contactImg}}">
  </div>
</pivot>
