<div [style.background]="backgroundCSS" class="project-background">
</div>

<pivot class="project-feature">
  <div class="project-content">
    <h1>Tempostorm</h1>
    <p>One of the top Esports organizations from California that have teams in Hearthstone, Heroes of the Storm, Counter-Strike: GO and PUBG.</p>
    <h2>Features</h2>
    <ul>
      <li>Integrations for Facebook, Twitter and Twitch</li>
      <li>Google Ads</li>
      <li>Managed with a custom CMS</li>
      <li>User Accounts</li>
    </ul>
    <h2 class="tech-used">Technologies Used</h2>
    <ul>
      <li>Angular</li>
      <li>Node.js</li>
      <li>MongoDB</li>
      <li>AWS</li>
      <li>HTML5 + CSS3</li>
    </ul>
  </div>
  <div class="project-preview">
    <a target="_blank" href="https://tempostorm.com">
      <div cursor class="project-img-wrapper">
        <img src="{{tempostormImg}}">
      </div>
    </a>
    <a target="_blank" href="https://tempostorm.com">
      <button class="daemon-button" cursor>
        VISIT
      </button>
    </a>
  </div>
</pivot>
