<div [style.background]="backgroundCSS" class="project-background">
</div>

<pivot class="project-feature">
  <div class="project-content">
    <h1>Spark</h1>
    <p>Spark is a screen management platform for global enterprises with sophisticated content requirements, diverse screen hardware, and ROI objectives.</p>
    <h2>Features</h2>
    <ul>
      <li>Drag and drop to build custom interfaces</li>
      <li>Broadcast to multiple devices from TVs to kiosks</li>
      <li>Manage your own signage network</li>
    </ul>
    <h2 class="tech-used">Technologies Used</h2>
    <ul>
      <li>Unity3D</li>
      <li>Node.js</li>
      <li>AWS</li>
      <li>HTML5 + CSS3</li>
    </ul>
  </div>
  <div class="project-preview">
    <a target="_blank" href="http://sparkscreens.com/">
      <div cursor class="project-img-wrapper">
        <img src="{{sparkImg}}">
      </div>
    </a>
    <a target="_blank" href="http://sparkscreens.com/">
      <button class="daemon-button" cursor>
        VISIT
      </button>
    </a>
  </div>
</pivot>
