<div [style.background]="backgroundCSS" class="project-background">
</div>

<pivot class="project-feature">
  <div class="project-content">
    <h1>SMART</h1>
    <p>Short for Shop Management and Resource Tool. The system that powers all the automation technologies of Muskoka Cabinet
      Company.</p>
    <h2>Features</h2>
    <ul>
      <li>HD Video Feature with Vimeo</li>
      <li>Uses new CSS Grid Specification</li>
      <li>Parallax backgrounds</li>
      <li>Compare pricing options with dynamic view</li>
    </ul>
    <h2 class="tech-used">Technologies Used</h2>
    <ul>
      <li>Angular</li>
      <li>AWS</li>
      <li>HTML5 + CSS3</li>
      <li>Vimeo</li>
    </ul>
  </div>
  <div class="project-preview">
    <a target="_blank" href="http://beta.smartmrp.com">
      <div cursor class="project-img-wrapper">
        <img src="{{smartImg}}">
      </div>
    </a>
    <a target="_blank" href="http://beta.smartmrp.com">
      <button class="daemon-button" cursor>
        VISIT
      </button>
    </a>
  </div>
</pivot>
