<div [style.background]="backgroundCSS" class="project-background">
</div>

<pivot class="project-feature">
    <div class="project-content">
        <h1>Deck Builder</h1>
        <p>A tool that allows you to open packs of cards for Hearthstone and draft a deck.</p>
        <h2>Features</h2>
        <ul>
            <li>Used for official Redbull draft tournaments</li>
            <li>Modelled after Hearthstone in-game pack opener</li>
            <li>Uses HTML Audio</li>
            <li>Share your draft in Facebook and Twitter</li>
        </ul>
        <h2 class="tech-used">Technologies Used</h2>
        <ul>
            <li>Angular</li>
            <li>Node.js</li>
            <li>MongoDB</li>
            <li>AWS</li>
            <li>HTML5 + CSS3</li>
        </ul>
    </div>
    <div class="project-preview">
        <a target="_blank" href="https://tempostorm.com/hearthstone/sealed-generator">
            <div cursor class="project-img-wrapper">
                <img src="{{deckBuilderImg}}">
            </div>
        </a>
        <a target="_blank" href="https://tempostorm.com/hearthstone/sealed-generator">
            <button class="daemon-button" cursor>
                VISIT
            </button>
        </a>
    </div>
</pivot>
